body {
  font-family: "Noto Sans JP", sans-serif;
}

.color_list {
  margin: 0 0 5rem 0;
}

.color_list div {
  margin: 2rem 0 0 0;
}

.color_list p {
  opacity: 0;
}

.color_list.show p {
  opacity: 1;
}

.color_tip {
  width: 100%;
  height: 4rem;
}

h2.title {
  margin: 2rem 0 0 0;
}

h1.title {
  font-family: "Oswald", sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  background: #333;
}
